.weather-form {
  align-self: center;
  padding: 1rem;

  display: grid;
  grid-template-columns: max-content 15rem;
  gap: 0.75rem;
  align-content: start;
  align-items: baseline;
}

.weather-form .field {
  background-color: var(--color-field-bg);
  border: 1px solid var(--color-field-border);
  border-radius: 8px;
  color: var(--color-field-text);
  padding: 0.25rem 0.5rem;
}

.weather-form .checkbox {
  justify-self: start;
}

.weather-form .field:focus {
  border-color: var(--color-field-border-focus);
  outline: 1px solid var(--color-field-border-focus);
}

.weather-form .submit-button {
  background-color: var(--color-button-bg);
  border: 1px solid var(--color-button-border);
  border-radius: 8px;
  color: var(--color-button-text);
  grid-column: 1 / 3;
  padding: 0.25rem 0.5rem;
}

.weather-form .submit-button:focus {
  border-color: var(--color-button-border-focus);
  outline: 1px solid var(--color-button-border-focus);
}

.weather-form .submit-button:hover {
  background-color: var(--color-button-bg-hover);
}
