.weather {
  height: 16rem;
  width: 30rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.weather .location {
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
}

.weather .temperature {
  font-size: 5rem;
  line-height: 5rem;
}
