.weather-view {
  height: 16rem;
  width: 30rem;

  display: flex;
  justify-content: center;
}

.weather-view .results {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.weather-view .results:not(.hidden) {
  display: flex;
}

.weather-view .location {
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
}

.weather-view .error-message {
  color: var(--color-text-error);
}

.weather-view .temperature {
  font-size: 5rem;
  line-height: 5rem;
}
