.weather-view {
  border-radius: 16px;
  height: 16rem;
  margin: 64px;
  transition:
    background-color 1s ease,
    box-shadow 1s ease;
  width: 30rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-view .results,
.weather-view .error {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.weather-view .results:not(.hidden),
.weather-view .error:not(.hidden) {
  display: flex;
}

.weather-view .location,
.weather-view .error-message {
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
}

.weather-view .error-message {
  color: var(--color-text-error);
}

.weather-view .temperature {
  font-size: 5rem;
  line-height: 5rem;
}

.weather-view:is(.clear-day) {
  background-color: #68f;
  box-shadow: #68f 0 0 32px 32px;
}

.weather-view:is(.partly-cloudy-day) {
  background-color: #68c;
  box-shadow: #68c 0 0 32px 32px;
}

.weather-view:is(.clear-night, .partly-cloudy-night) {
  background-color: #124;
  box-shadow: #124 0 0 32px 32px;
}

.weather-view:is(
  .cloudy,
  .fog,
  .hail,
  .rain-snow-showers-day,
  .rain-snow,
  .rain,
  .showers-day,
  .sleet,
  .snow-showers-day,
  .snow,
  .thunder-rain,
  .thunder-showers-day,
  .thunder,
  .wind
) {
  background-color: #78a;
  box-shadow: #78a 0 0 32px 32px;
}

.weather-view:is(
  .rain-snow-showers-night,
  .showers-night,
  .snow-showers-night,
  .thunder-showers-night,

) {
  background-color: #101018;
  box-shadow: #101018 0 0 32px 32px;
}
