html {
  --black: #000;
  --dark-gray: #181818;
  --gray: #383838;
  --light-gray: #555;
  --white: #ccc;

  --blue: #339;
  --light-blue: #66f;
  --pale-blue: #559;

  --color-bg-primary: var(--dark-gray);
  --color-text-primary: var(--white);

  --color-field-bg: var(--black);
  --color-field-text: var(--white);
  --color-field-border: var(--light-gray);
  --color-field-border-focus: var(--light-blue);

  --color-button-bg: var(--blue);
  --color-button-text: var(--white);
  --color-button-border: var(--pale-blue);
}
