body {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  border: 4px solid var(--color-main-border);
  border-radius: 16px;
  display: flex;
  flex-direction: column-reverse;
  height: 25rem;
}
