*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
}

ul {
  list-style: none;
}

button,
input,
textarea {
  border: none;
  font-size: 1em;
}

button {
  cursor: pointer;
}

textarea {
  font-family: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
